In [190]:
pwd

u'F:\\ds'

In [191]:
cd F:\ds

F:\ds

In [192]:
pwd

u'F:\\ds'

In [193]:
import pandas as pd

In [194]:
df1 = pd.read_csv('dedup.csv')

In [195]:
df1 = pd.DataFrame(df1)

In [217]:
df.isnull().sum()

ln     0
dob    0
gn     0
fn     0
dtype: int64

In [196]:
df1.head()

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM

In [197]:
df1.dtypes

ln     object
dob    object
gn     object
fn     object
dtype: object

In [198]:
df1

                ln       dob gn            fn
0         SMITH JR  01/03/68  F       WILLIAM
1     ROTHMEYER JR  01/03/68  F       WILLIAM
2          ASBY JR  01/03/68  F       WILLIAM
3        SALTER JR  01/03/68  F       WILLIAM
4        SALTER JR  01/03/68  F       WILLIAM
5         BLAND JR  21/02/62  F       WILLIAM
6         BLAND JR  21/02/62  F       WILLIAM
7         BLAND JR  21/02/62  F       WILLIAM
8       SHAFFER JR  21/02/62  F       WILLIAM
9       SHAFFER JR  21/02/62  F       WILLIAM
10       BLAND III  21/02/62  F       WILLIAM
11        BLAND JR  21/02/62  F          BILL
12           BLAND  21/02/62  F       WILLIAM
13        BLAND JR  21/02/62  F       WILLIAM
14        BLAND JR  08/06/54  F       WILLIAM
15        BLAND JR  08/06/54  F       WILLIAM
16        BLAND JR  25/10/53  F       WILLIAM
17        BLAND JR  25/10/53  F       WILLIAM
18      SHAFFER JR  25/10/53  F       WILLIAM
19       DUNCAN JR  25/10/53  F        THOMAS
20      CARLSON JR  25/10/53  F           ROY
21      CARLSON JR  25/10/53  F           RON
22       DUNCAN JR  25/10/53  F           ROY
23      MICHAELSON  25/10/53  M           ROY
24   MICHAELSON JR  25/10/53  M           ROY
25      MICHAELSON  25/10/53  M           ROY
26   MICHAELSON JR  25/10/53  M           ROY
27   MICHAELSON JR  01/05/51  M           ROY
28   MICHAELSON JR  17/06/48  M           ROY
29   MICHAELSON JR  17/06/48  M           ROY
..             ...       ... ..           ...
73       MELVIN JR  07/10/37  M        HAROLD
74       MELVIN JR  07/10/37  M        HAROLD
75       CHAVAS JR  07/10/37  M        HAROLD
76       CHAVAS JR  07/10/37  M        HAROLD
77       CHAVAS JR  07/10/37  M        HAROLD
78       CHAVAS JR  07/10/37  M        HAROLD
79   MICHAELSON JR  07/10/37  M        HAROLD
80   MICHAELSON JR  07/10/37  M        HAROLD
81        SMITH JR  07/10/37  M        HAROLD
82       CHAVAS JR  07/10/37  M        HAROLD
83       CHAVAS JR  07/10/37  M        HAROLD
84        FAGEN JR  07/10/37  M        HAROLD
85        FAGEN JR  07/10/37  M        HAROLD
86        FAGEN JR  07/10/37  M        GEORGE
87      GRIFFIN JR  07/10/37  M          DARH
88      GRIFFIN JR  10/07/37  M          DARL
89      GRIFFIN JR  07/05/37  M          DARL
90      GRIFFIN JR  07/05/37  M      CLIFFORD
91      GRIFFIN JR  07/05/37  M      CLIFFORD
92      GRIFFIN JR  07/05/37  M      CLIFFORD
93      GRIFFIN JR  07/05/37  M      CLARENCE
94           HANNA  24/11/34  M     ADDISON J
95           HANNA  24/11/34  M  ADDISON JOHN
96           HANNA  24/11/34  M       ADDISON
97           HANNA  24/11/34  M       ADDISON
98           HANNA  24/11/34  M       ADDISON
99     GALETICH JR  15/10/32  M       ADDISON
100   FUNARO JONES  06/12/37  F       HARRIET
101       FUNARO J  06/12/37  F       HARRIET
102         FUNARO  06/12/37  F       HARRIET

[103 rows x 4 columns]

In [199]:
df2 = df1.reindex(index = range(len(df1)))

In [200]:
df2

                ln       dob gn            fn
0         SMITH JR  01/03/68  F       WILLIAM
1     ROTHMEYER JR  01/03/68  F       WILLIAM
2          ASBY JR  01/03/68  F       WILLIAM
3        SALTER JR  01/03/68  F       WILLIAM
4        SALTER JR  01/03/68  F       WILLIAM
5         BLAND JR  21/02/62  F       WILLIAM
6         BLAND JR  21/02/62  F       WILLIAM
7         BLAND JR  21/02/62  F       WILLIAM
8       SHAFFER JR  21/02/62  F       WILLIAM
9       SHAFFER JR  21/02/62  F       WILLIAM
10       BLAND III  21/02/62  F       WILLIAM
11        BLAND JR  21/02/62  F          BILL
12           BLAND  21/02/62  F       WILLIAM
13        BLAND JR  21/02/62  F       WILLIAM
14        BLAND JR  08/06/54  F       WILLIAM
15        BLAND JR  08/06/54  F       WILLIAM
16        BLAND JR  25/10/53  F       WILLIAM
17        BLAND JR  25/10/53  F       WILLIAM
18      SHAFFER JR  25/10/53  F       WILLIAM
19       DUNCAN JR  25/10/53  F        THOMAS
20      CARLSON JR  25/10/53  F           ROY
21      CARLSON JR  25/10/53  F           RON
22       DUNCAN JR  25/10/53  F           ROY
23      MICHAELSON  25/10/53  M           ROY
24   MICHAELSON JR  25/10/53  M           ROY
25      MICHAELSON  25/10/53  M           ROY
26   MICHAELSON JR  25/10/53  M           ROY
27   MICHAELSON JR  01/05/51  M           ROY
28   MICHAELSON JR  17/06/48  M           ROY
29   MICHAELSON JR  17/06/48  M           ROY
..             ...       ... ..           ...
73       MELVIN JR  07/10/37  M        HAROLD
74       MELVIN JR  07/10/37  M        HAROLD
75       CHAVAS JR  07/10/37  M        HAROLD
76       CHAVAS JR  07/10/37  M        HAROLD
77       CHAVAS JR  07/10/37  M        HAROLD
78       CHAVAS JR  07/10/37  M        HAROLD
79   MICHAELSON JR  07/10/37  M        HAROLD
80   MICHAELSON JR  07/10/37  M        HAROLD
81        SMITH JR  07/10/37  M        HAROLD
82       CHAVAS JR  07/10/37  M        HAROLD
83       CHAVAS JR  07/10/37  M        HAROLD
84        FAGEN JR  07/10/37  M        HAROLD
85        FAGEN JR  07/10/37  M        HAROLD
86        FAGEN JR  07/10/37  M        GEORGE
87      GRIFFIN JR  07/10/37  M          DARH
88      GRIFFIN JR  10/07/37  M          DARL
89      GRIFFIN JR  07/05/37  M          DARL
90      GRIFFIN JR  07/05/37  M      CLIFFORD
91      GRIFFIN JR  07/05/37  M      CLIFFORD
92      GRIFFIN JR  07/05/37  M      CLIFFORD
93      GRIFFIN JR  07/05/37  M      CLARENCE
94           HANNA  24/11/34  M     ADDISON J
95           HANNA  24/11/34  M  ADDISON JOHN
96           HANNA  24/11/34  M       ADDISON
97           HANNA  24/11/34  M       ADDISON
98           HANNA  24/11/34  M       ADDISON
99     GALETICH JR  15/10/32  M       ADDISON
100   FUNARO JONES  06/12/37  F       HARRIET
101       FUNARO J  06/12/37  F       HARRIET
102         FUNARO  06/12/37  F       HARRIET

[103 rows x 4 columns]

In [201]:
df3 = pd.DataFrame(df2.ln.str.split(' ',1).tolist(),
                                   columns = ['ln','tag'])

In [202]:
df3[['fn','mn']] = pd.DataFrame(df2.fn.str.split(' ',1).tolist(),
                                   columns = ['fn','mn'])

In [203]:
df3['dob'] = df2['dob']
df3['gn'] = df2['gn']

In [204]:
df3.head()

          ln tag       fn    mn       dob gn
0      SMITH  JR  WILLIAM  None  01/03/68  F
1  ROTHMEYER  JR  WILLIAM  None  01/03/68  F
2       ASBY  JR  WILLIAM  None  01/03/68  F
3     SALTER  JR  WILLIAM  None  01/03/68  F
4     SALTER  JR  WILLIAM  None  01/03/68  F

In [205]:
gb = df3.groupby('dob')

In [206]:
gb.head()

             ln    tag        fn    mn       dob gn
0         SMITH     JR   WILLIAM  None  01/03/68  F
1     ROTHMEYER     JR   WILLIAM  None  01/03/68  F
2          ASBY     JR   WILLIAM  None  01/03/68  F
3        SALTER     JR   WILLIAM  None  01/03/68  F
4        SALTER     JR   WILLIAM  None  01/03/68  F
5         BLAND     JR   WILLIAM  None  21/02/62  F
6         BLAND     JR   WILLIAM  None  21/02/62  F
7         BLAND     JR   WILLIAM  None  21/02/62  F
8       SHAFFER     JR   WILLIAM  None  21/02/62  F
9       SHAFFER     JR   WILLIAM  None  21/02/62  F
14        BLAND     JR   WILLIAM  None  08/06/54  F
15        BLAND     JR   WILLIAM  None  08/06/54  F
16        BLAND     JR   WILLIAM  None  25/10/53  F
17        BLAND     JR   WILLIAM  None  25/10/53  F
18      SHAFFER     JR   WILLIAM  None  25/10/53  F
19       DUNCAN     JR    THOMAS  None  25/10/53  F
20      CARLSON     JR       ROY  None  25/10/53  F
27   MICHAELSON     JR       ROY  None  01/05/51  M
28   MICHAELSON     JR       ROY  None  17/06/48  M
29   MICHAELSON     JR       ROY  None  17/06/48  M
30   MICHAELSON     JR       ROY  None  09/04/47  M
31   MICHAELSON     JR    ROBERT  None  09/04/47  M
32   MICHAELSON     JR       BOB  None  09/04/47  M
33     MUSTAPHA     JR      OWEN  None  11/03/47  M
34     MUSTAPHA     JR      OWAN  None  11/03/47  M
35     HOUGHTON     JR  LAWRENCE  None  31/01/46  M
36     HOUGHTON     JR  LAWRENCE  None  31/01/46  M
37     HOUGHTON     JR  LAWRENCE  None  31/01/46  M
38         LIND     JR  LAWRENCE  None  31/01/46  M
39         LIND     JR  LAWRENCE  None  31/01/46  M
..          ...    ...       ...   ...       ... ..
53   MICHAELSON     JR      JOHN  None  24/04/40  M
54   MICHAELSON     JR      JOHN  None  24/04/40  M
55   MICHAELSON     JR      JOHN  None  24/06/39  M
56   MICHAELSON     JR      JOHN  None  24/06/39  M
57   MICHAELSON     JR      JOHN  None  24/06/39  M
58   MICHAELSON     JR     JAMES  None  24/06/39  M
59   MICHAELSON     JR     JAMES  None  24/06/39  M
61   MICHAELSON     JR      JACK  None  09/06/39  M
62       LARSON     JR    HAROLD  None  09/06/39  M
63       LARSON     JR    HAROLD  None  09/06/39  M
64     MUSTAPHA     JR    HAROLD  None  07/10/37  M
65     HOUGHTON     JR    HAROLD  None  07/10/37  M
66       MELVIN     JR    HAROLD  None  07/10/37  M
67       MELVIN     JR    HAROLD  None  07/10/37  M
68       MELVIN     JR    HAROLD  None  07/10/37  M
88      GRIFFIN     JR      DARL  None  10/07/37  M
89      GRIFFIN     JR      DARL  None  07/05/37  M
90      GRIFFIN     JR  CLIFFORD  None  07/05/37  M
91      GRIFFIN     JR  CLIFFORD  None  07/05/37  M
92      GRIFFIN     JR  CLIFFORD  None  07/05/37  M
93      GRIFFIN     JR  CLARENCE  None  07/05/37  M
94        HANNA   None   ADDISON     J  24/11/34  M
95        HANNA   None   ADDISON  JOHN  24/11/34  M
96        HANNA   None   ADDISON  None  24/11/34  M
97        HANNA   None   ADDISON  None  24/11/34  M
98        HANNA   None   ADDISON  None  24/11/34  M
99     GALETICH     JR   ADDISON  None  15/10/32  M
100      FUNARO  JONES   HARRIET  None  06/12/37  F
101      FUNARO      J   HARRIET  None  06/12/37  F
102      FUNARO   None   HARRIET  None  06/12/37  F

[70 rows x 6 columns]

In [207]:
list = []
for name,group in gb:
    print (name)
    print (group)

01/03/68
          ln tag       fn    mn       dob gn
0      SMITH  JR  WILLIAM  None  01/03/68  F
1  ROTHMEYER  JR  WILLIAM  None  01/03/68  F
2       ASBY  JR  WILLIAM  None  01/03/68  F
3     SALTER  JR  WILLIAM  None  01/03/68  F
4     SALTER  JR  WILLIAM  None  01/03/68  F
01/05/51
            ln tag   fn    mn       dob gn
27  MICHAELSON  JR  ROY  None  01/05/51  M
06/12/37
         ln    tag       fn    mn       dob gn
100  FUNARO  JONES  HARRIET  None  06/12/37  F
101  FUNARO      J  HARRIET  None  06/12/37  F
102  FUNARO   None  HARRIET  None  06/12/37  F
07/05/37
         ln tag        fn    mn       dob gn
89  GRIFFIN  JR      DARL  None  07/05/37  M
90  GRIFFIN  JR  CLIFFORD  None  07/05/37  M
91  GRIFFIN  JR  CLIFFORD  None  07/05/37  M
92  GRIFFIN  JR  CLIFFORD  None  07/05/37  M
93  GRIFFIN  JR  CLARENCE  None  07/05/37  M
07/10/37
            ln tag      fn    mn       dob gn
64    MUSTAPHA  JR  HAROLD  None  07/10/37  M
65    HOUGHTON  JR  HAROLD  None  07/10/37  M
66      MELVIN  JR  HAROLD  None  07/10/37  M
67      MELVIN  JR  HAROLD  None  07/10/37  M
68      MELVIN  JR  HAROLD  None  07/10/37  M
69      MELVIN  JR  HAROLD  None  07/10/37  M
70      MELVIN  JR  HAROLD  None  07/10/37  M
71      MELVIN  JR  HAROLD  None  07/10/37  M
72      MELVIN  JR  HAROLD  None  07/10/37  M
73      MELVIN  JR  HAROLD  None  07/10/37  M
74      MELVIN  JR  HAROLD  None  07/10/37  M
75      CHAVAS  JR  HAROLD  None  07/10/37  M
76      CHAVAS  JR  HAROLD  None  07/10/37  M
77      CHAVAS  JR  HAROLD  None  07/10/37  M
78      CHAVAS  JR  HAROLD  None  07/10/37  M
79  MICHAELSON  JR  HAROLD  None  07/10/37  M
80  MICHAELSON  JR  HAROLD  None  07/10/37  M
81       SMITH  JR  HAROLD  None  07/10/37  M
82      CHAVAS  JR  HAROLD  None  07/10/37  M
83      CHAVAS  JR  HAROLD  None  07/10/37  M
84       FAGEN  JR  HAROLD  None  07/10/37  M
85       FAGEN  JR  HAROLD  None  07/10/37  M
86       FAGEN  JR  GEORGE  None  07/10/37  M
87     GRIFFIN  JR    DARH  None  07/10/37  M
08/06/54
       ln tag       fn    mn       dob gn
14  BLAND  JR  WILLIAM  None  08/06/54  F
15  BLAND  JR  WILLIAM  None  08/06/54  F
09/02/45
       ln   tag      fn    mn       dob gn
45  CLARK  None  RONALD  None  09/02/45  M
46  CLARK  None  DONALD  None  09/02/45  M
09/04/47
            ln tag      fn    mn       dob gn
30  MICHAELSON  JR     ROY  None  09/04/47  M
31  MICHAELSON  JR  ROBERT  None  09/04/47  M
32  MICHAELSON  JR     BOB  None  09/04/47  M
09/06/39
            ln tag      fn    mn       dob gn
61  MICHAELSON  JR    JACK  None  09/06/39  M
62      LARSON  JR  HAROLD  None  09/06/39  M
63      LARSON  JR  HAROLD  None  09/06/39  M
09/06/45
       ln   tag    fn    mn       dob gn
44  CLARK  None  JOHN  None  09/06/45  M
10/07/37
         ln tag    fn    mn       dob gn
88  GRIFFIN  JR  DARL  None  10/07/37  M
11/03/47
          ln tag    fn    mn       dob gn
33  MUSTAPHA  JR  OWEN  None  11/03/47  M
34  MUSTAPHA  JR  OWAN  None  11/03/47  M
15/10/32
          ln tag       fn    mn       dob gn
99  GALETICH  JR  ADDISON  None  15/10/32  M
16/12/44
            ln   tag    fn    mn       dob gn
47       CLARK  None  JOHN  None  16/12/44  M
48       CLARK    JR  JOHN  None  16/12/44  M
49       CLARK    JR  JOHN  None  16/12/44  M
50  MICHAELSON    JR  JOHN  None  16/12/44  M
51  MICHAELSON    JR  JOHN  None  16/12/44  M
52  MICHAELSON    JR  JOHN  None  16/12/44  M
17/06/48
            ln tag   fn    mn       dob gn
28  MICHAELSON  JR  ROY  None  17/06/48  M
29  MICHAELSON  JR  ROY  None  17/06/48  M
20/01/46
      ln tag    fn    mn       dob gn
42  LIND  JR  JOHN  None  20/01/46  M
43  CAIN  JR  JOHN  None  20/01/46  M
21/02/62
         ln   tag       fn    mn       dob gn
5     BLAND    JR  WILLIAM  None  21/02/62  F
6     BLAND    JR  WILLIAM  None  21/02/62  F
7     BLAND    JR  WILLIAM  None  21/02/62  F
8   SHAFFER    JR  WILLIAM  None  21/02/62  F
9   SHAFFER    JR  WILLIAM  None  21/02/62  F
10    BLAND   III  WILLIAM  None  21/02/62  F
11    BLAND    JR     BILL  None  21/02/62  F
12    BLAND  None  WILLIAM  None  21/02/62  F
13    BLAND    JR  WILLIAM  None  21/02/62  F
24/04/40
            ln tag    fn    mn       dob gn
53  MICHAELSON  JR  JOHN  None  24/04/40  M
54  MICHAELSON  JR  JOHN  None  24/04/40  M
24/06/39
            ln tag     fn    mn       dob gn
55  MICHAELSON  JR   JOHN  None  24/06/39  M
56  MICHAELSON  JR   JOHN  None  24/06/39  M
57  MICHAELSON  JR   JOHN  None  24/06/39  M
58  MICHAELSON  JR  JAMES  None  24/06/39  M
59  MICHAELSON  JR  JAMES  None  24/06/39  M
60  MICHAELSON  JR   JACK  None  24/06/39  M
24/11/34
       ln   tag       fn    mn       dob gn
94  HANNA  None  ADDISON     J  24/11/34  M
95  HANNA  None  ADDISON  JOHN  24/11/34  M
96  HANNA  None  ADDISON  None  24/11/34  M
97  HANNA  None  ADDISON  None  24/11/34  M
98  HANNA  None  ADDISON  None  24/11/34  M
25/10/53
            ln   tag       fn    mn       dob gn
16       BLAND    JR  WILLIAM  None  25/10/53  F
17       BLAND    JR  WILLIAM  None  25/10/53  F
18     SHAFFER    JR  WILLIAM  None  25/10/53  F
19      DUNCAN    JR   THOMAS  None  25/10/53  F
20     CARLSON    JR      ROY  None  25/10/53  F
21     CARLSON    JR      RON  None  25/10/53  F
22      DUNCAN    JR      ROY  None  25/10/53  F
23  MICHAELSON  None      ROY  None  25/10/53  M
24  MICHAELSON    JR      ROY  None  25/10/53  M
25  MICHAELSON  None      ROY  None  25/10/53  M
26  MICHAELSON    JR      ROY  None  25/10/53  M
31/01/46
          ln tag        fn    mn       dob gn
35  HOUGHTON  JR  LAWRENCE  None  31/01/46  M
36  HOUGHTON  JR  LAWRENCE  None  31/01/46  M
37  HOUGHTON  JR  LAWRENCE  None  31/01/46  M
38      LIND  JR  LAWRENCE  None  31/01/46  M
39      LIND  JR  LAWRENCE  None  31/01/46  M
40      LIND  JR   KENNETH  None  31/01/46  M
41      LIND  JR   KENNETH  None  31/01/46  M

In [208]:
uq = pd.DataFrame()

In [209]:
uq = df3[:0]

In [210]:
uq.loc[0] = df3.loc[0]

C:\Users\rs091\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [211]:
uq

      ln tag       fn    mn       dob gn
0  SMITH  JR  WILLIAM  None  01/03/68  F

In [212]:
for name,group in gb:
    temp = pd.DataFrame(group)
    a = 0
    un = pd.DataFrame()
    un = temp[:0]
    for i,j in temp.iterrows():
        x = 0
        for k,l in un.iterrows():
            if(temp['fn'][i] == un['fn'][k]) and (temp['gn'][i] == un['gn'][k]) and (temp['ln'][i] == un['ln'][k]):
                x = x + 1
        if(x == 0):
            a = a + 1
            un.loc[a] = j
    print un
    uq = uq.append(un)

C:\Users\rs091\Anaconda2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

          ln tag       fn    mn       dob gn
1      SMITH  JR  WILLIAM  None  01/03/68  F
2  ROTHMEYER  JR  WILLIAM  None  01/03/68  F
3       ASBY  JR  WILLIAM  None  01/03/68  F
4     SALTER  JR  WILLIAM  None  01/03/68  F
           ln tag   fn    mn       dob gn
1  MICHAELSON  JR  ROY  None  01/05/51  M
       ln    tag       fn    mn       dob gn
1  FUNARO  JONES  HARRIET  None  06/12/37  F
        ln tag        fn    mn       dob gn
1  GRIFFIN  JR      DARL  None  07/05/37  M
2  GRIFFIN  JR  CLIFFORD  None  07/05/37  M
3  GRIFFIN  JR  CLARENCE  None  07/05/37  M
           ln tag      fn    mn       dob gn
1    MUSTAPHA  JR  HAROLD  None  07/10/37  M
2    HOUGHTON  JR  HAROLD  None  07/10/37  M
3      MELVIN  JR  HAROLD  None  07/10/37  M
4      CHAVAS  JR  HAROLD  None  07/10/37  M
5  MICHAELSON  JR  HAROLD  None  07/10/37  M
6       SMITH  JR  HAROLD  None  07/10/37  M
7       FAGEN  JR  HAROLD  None  07/10/37  M
8       FAGEN  JR  GEORGE  None  07/10/37  M
9     GRIFFIN  JR    DARH  None  07/10/37  M
      ln tag       fn    mn       dob gn
1  BLAND  JR  WILLIAM  None  08/06/54  F
      ln   tag      fn    mn       dob gn
1  CLARK  None  RONALD  None  09/02/45  M
2  CLARK  None  DONALD  None  09/02/45  M
           ln tag      fn    mn       dob gn
1  MICHAELSON  JR     ROY  None  09/04/47  M
2  MICHAELSON  JR  ROBERT  None  09/04/47  M
3  MICHAELSON  JR     BOB  None  09/04/47  M
           ln tag      fn    mn       dob gn
1  MICHAELSON  JR    JACK  None  09/06/39  M
2      LARSON  JR  HAROLD  None  09/06/39  M
      ln   tag    fn    mn       dob gn
1  CLARK  None  JOHN  None  09/06/45  M
        ln tag    fn    mn       dob gn
1  GRIFFIN  JR  DARL  None  10/07/37  M
         ln tag    fn    mn       dob gn
1  MUSTAPHA  JR  OWEN  None  11/03/47  M
2  MUSTAPHA  JR  OWAN  None  11/03/47  M
         ln tag       fn    mn       dob gn
1  GALETICH  JR  ADDISON  None  15/10/32  M
           ln   tag    fn    mn       dob gn
1       CLARK  None  JOHN  None  16/12/44  M
2  MICHAELSON    JR  JOHN  None  16/12/44  M
           ln tag   fn    mn       dob gn
1  MICHAELSON  JR  ROY  None  17/06/48  M
     ln tag    fn    mn       dob gn
1  LIND  JR  JOHN  None  20/01/46  M
2  CAIN  JR  JOHN  None  20/01/46  M
        ln tag       fn    mn       dob gn
1    BLAND  JR  WILLIAM  None  21/02/62  F
2  SHAFFER  JR  WILLIAM  None  21/02/62  F
3    BLAND  JR     BILL  None  21/02/62  F
           ln tag    fn    mn       dob gn
1  MICHAELSON  JR  JOHN  None  24/04/40  M
           ln tag     fn    mn       dob gn
1  MICHAELSON  JR   JOHN  None  24/06/39  M
2  MICHAELSON  JR  JAMES  None  24/06/39  M
3  MICHAELSON  JR   JACK  None  24/06/39  M
      ln   tag       fn mn       dob gn
1  HANNA  None  ADDISON  J  24/11/34  M
           ln   tag       fn    mn       dob gn
1       BLAND    JR  WILLIAM  None  25/10/53  F
2     SHAFFER    JR  WILLIAM  None  25/10/53  F
3      DUNCAN    JR   THOMAS  None  25/10/53  F
4     CARLSON    JR      ROY  None  25/10/53  F
5     CARLSON    JR      RON  None  25/10/53  F
6      DUNCAN    JR      ROY  None  25/10/53  F
7  MICHAELSON  None      ROY  None  25/10/53  M
         ln tag        fn    mn       dob gn
1  HOUGHTON  JR  LAWRENCE  None  31/01/46  M
2      LIND  JR  LAWRENCE  None  31/01/46  M
3      LIND  JR   KENNETH  None  31/01/46  M

In [213]:
uq.head()

          ln tag       fn    mn       dob gn
0      SMITH  JR  WILLIAM  None  01/03/68  F
1      SMITH  JR  WILLIAM  None  01/03/68  F
2  ROTHMEYER  JR  WILLIAM  None  01/03/68  F
3       ASBY  JR  WILLIAM  None  01/03/68  F
4     SALTER  JR  WILLIAM  None  01/03/68  F

In [214]:
uq.index = range(len(uq))

In [215]:
uq.shape

(55, 6)

In [218]:
uq.to_csv('cample_output.csv')